<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Ollama API Configuration -->
        <add key="OllamaApiUrl" value="http://localhost:11434" />
        <add key="OllamaDefaultModel" value="llama2" />
        
        <!-- Application Settings -->
        <add key="DefaultWorkingDirectory" value="" />
        <add key="MaxFileSizeMB" value="100" />
        <add key="TranscriptionTimeoutSeconds" value="300" />
        
        <!-- Whisper Settings -->
        <add key="WhisperModelPath" value="./Models/" />
        <add key="WhisperDefaultLanguage" value="en" />
    </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>